/vendor/
node_modules/
.env
.env.backup
.env.production
.env.staging
.env.*
!.env.example
*.db
*.db-shm
*.db-wal
*.db-journal
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
/public/storage
public/storage
storage/app/state_backups/*
storage/app/public/temp/*
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
*.log
.phpunit.result.cache
.DS_Store
Thumbs.db
